<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="leftside">
            <h2>Finaly Fantasy XIV</h2>
        </div>
        
        <div class="rightside">
            <a href="../view/riview.html">
                <h4>SUBSCRIBE!</h4>
            </a>
            
        </div>
                

    </div>
    <!-- content -->
    <div class="content">
        <div class="explenationtext"> 
            <center>
              <h1 id="big"> Final Fantasy XIV </h1>
            </center>
            
            <P align ="center"> five years before the events of the story. meta-clad warriors invaded eorzea with flame-spewing weapons and colossal airships.The army came from the Garlean Empire,and it didn't take long before the mightiest of the six city states,Ala Mhigo,fell under their force. The other city states united their power to defend themselves, but just as fast as it had arrived,the imperial army was gone. A new era began at Eorzea,known as the Age of Calm,which the city-states spent by bulding up their defenses and training their armies.  </P>
            <p align ="center"> Before,the cities had hired mercenaries for their inner wars, but now they trusted only professional soldiers,leaving the sellswords unemployed and restless.To keep them from causing harm and sterr their energy into helping others instead,the city-states founded a network of adventuring guilds.
            </p>
        </div>

        <div class="lowergambar">
            <img id="exfeat" src="../assets/expansions_and_features.png" alt="expansions_and_features.png"
            weight="50%"  height="100px">
            <div class="expanandfeat">
                <div class="bagiankiri">
                    <img src="../assets/expansions.png" alt="expansions.png" width="250px">
                </div>
                <div class="bagiankanan">
                    <div class="semuanya">
                    <img src="../assets/features_jobs.png" alt="" width="250px"><br><br>
                    <img id="tambahpadtop" 
                    src="../assets/features.jpg" width="200px" alt="">
                </div>
            </div>
          
        </div>

    </div>
    <div class="footer"> 
        <p>Copyright c Bluejack 2019</p>
        <div class ="satufooter">
            <img src="../assets/finaly_fantasy_xiv_footer.png" alt="" 
            width="50px">
            <img src="../assets/steam_footer.png" alt="" width="25px">
        </div>
    </div>
       
</body>
</html>